[access]
	inheritFrom = All-Projects-QA
[submit]
[project]
	description = Python module and command line interface with Zadara REST APIs
[access "refs/*"]
	owner = group user/Aviad Cohen (CohenAviad)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Aviad Cohen (CohenAviad)
	label-Verified = -1..+1 group user/Aviad Cohen (CohenAviad)
	push = group user/Aviad Cohen (CohenAviad)
	read = group user/Aviad Cohen (CohenAviad)
	rebase = group user/Aviad Cohen (CohenAviad)
	removeReviewer = group user/Aviad Cohen (CohenAviad)
	submit = group user/Aviad Cohen (CohenAviad)
[access "refs/heads/*"]
	create = group user/Aviad Cohen (CohenAviad)
	push = +force group user/Aviad Cohen (CohenAviad)
	pushMerge = group user/Aviad Cohen (CohenAviad)
	read = group user/Aviad Cohen (CohenAviad)
[access "refs/tags/*"]
	push = group user/Aviad Cohen (CohenAviad)
	push = +force group user/Aviad Cohen (CohenAviad)
